@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #232634;
  --foreground: #c6d0f5;
  --warning: #e78284;
  --success: #81c8be;
  --primary: #8caaee;
  --secondary: #babbf1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232634;
    --foreground: #c6d0f5;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
path{
  stroke:#8caaee;
}

.json-string {
  color: #e5c890;
}
.json-key {
  color: #f4b8e4;
}
.json-number {
  color: #8caaee;
}
.json-container {
  background-color: #292c3c;
}
