@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header: #292c3c;
  --background: #303446;
  --inner-background: #292c3c;
  --foreground: #c6d0f5;
  --warning: #e78284;
  --error: #d9d3b5;
  --success: #81c8be;
  --primary: #8caaee;
  --secondary: #c6d0f5;
}

/* styles.css */
.spaced-text {
  letter-spacing: 0.02em;
  line-height: 1.31;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #232634;
    --foreground: #c6d0f5;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
path{
  stroke:#8caaee;
}

.json-string {
  color: #e5c890;
}
.json-key {
  color: #f4b8e4;
}
.json-number {
  color: #8caaee;
}
.json-container {
  background-color: var(--inner-background);
}
